name: Container

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    workflow_run:
      workflows: [ Releaser ]
      types:
        - completed
  pull_request:
  workflow_dispatch:
    inputs:
      sha:
        description: 'Commit SHA to publish'
        required: true

jobs:
  prepare-checkout:
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'
    name: Prepare ref
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.sha || github.event_name != 'workflow_run' && github.ref || steps.releaser.outputs.version }}
    steps:
      - name: Get version tag from releaser
        id: releaser
        if: github.event_name == 'workflow_run'
        uses: ipdxco/unified-github-workflows/.github/actions/inspect-releaser@v1.0
        with:
          artifacts-url: ${{ github.event.workflow_run.artifacts_url }}
  publish:
    name: Publish
    needs: [ prepare-checkout ]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.prepare-checkout.outputs.ref }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{raw}}
            type=ref,event=branch
            type=sha,format=long
            type=raw,value=${{ needs.prepare-checkout.outputs.ref }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}